In [1]:
import pandas as pd
import numpy as np
from concurrent.futures import ThreadPoolExecutor
from typing import Sequence
from tqdm import tqdm
import os

C:\Users\NightMare\anaconda3\envs\envGPU\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\NightMare\anaconda3\envs\envGPU\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
C:\Users\NightMare\anaconda3\envs\envGPU\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
from argostranslate import package
package.install_from_path("C:/Users/NightMare/Desktop/neurofeed_back/translate-en_ru-1_9.argosmodel")

In [23]:
from argostranslate import translate

def get_argos_model(source, target):
    lang = f'{source} -> {target}'
    source_lang = [model for model in translate.get_installed_languages() if lang in map(repr, model.translations_from)]
    target_lang = [model for model in translate.get_installed_languages() if lang in map(repr, model.translations_to)]
    
    return source_lang[0].get_translation(target_lang[0])

argos_en_ru = get_argos_model('English', 'Russian')

In [24]:
argos_en_ru.translate('hello')
# "I think it's a disease, a real, complete disease."

'–ø—Ä–∏–≤–µ—Ç'

In [12]:
path_to_datasets = "C:/Users/NightMare/Desktop/neurofeed_back/MOOC_Reviews1.csv"

In [13]:
# –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ –º–µ—Ç–æ–¥ read_csv() –∏–∑ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ Pandas –¥–ª—è —á—Ç–µ–Ω–∏—è CSV —Ñ–∞–π–ª–∞
df = pd.read_csv(path_to_datasets, index_col=0)

In [14]:
df

,Review,Review score,Lable
Id,,,
0,good and interesting,5,Positive
1,"This class is very helpful to me. Currently, I...",5,Positive
2,like!Prof and TAs are helpful and the discussi...,5,Positive
3,Easy to follow and includes a lot basic and im...,5,Positive
4,Really nice teacher!I could got the point eazl...,4,Positive
...,...,...,...
106939,I want to give it 3 1/2 starts - sometimes the...,3,Neutral
106955,I loved the non-UK / American basis for the wr...,3,Neutral
106968,"It is perfect for beginners, but if you're an ...",3,Neutral
106994,The course addresses quite precisely and pragm...,3,Neutral
107010,"For those interested in taking exams, these qu...",2,Negative

In [15]:
# –£–¥–∞–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü 'Numbers'
df = df.drop('Review score', axis=1)

# –£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Å –º–µ—Ç–∫–æ–π "Neutral"
df = df[df['Lable'] != 'Neutral']

In [16]:
df

                                                   Review     Lable
Id
0                                    good and interesting  Positive
1       This class is very helpful to me. Currently, I...  Positive
2       like!Prof and TAs are helpful and the discussi...  Positive
3       Easy to follow and includes a lot basic and im...  Positive
4       Really nice teacher!I could got the point eazl...  Positive
...                                                   ...       ...
106897  I wanted this course to focus specifically on ...  Negative
106898               Information presented was too basic.  Negative
106928  The course didn't feel as though it was aimed ...  Negative
106934  These were very short lectures without a lot o...  Negative
107010  For those interested in taking exams, these qu...  Negative

[10116 rows x 2 columns]

In [18]:
# –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ "labels" –≤ "label"
df.rename(columns={"Lable": "label"}, inplace=True)
df.rename(columns={"Review": "text"}, inplace=True)

In [19]:
import re

# –§—É–Ω–∫—Ü–∏—è –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è –∑–Ω–∞–∫–æ–≤ –ø—Ä–µ–ø–∏–Ω–∞–Ω–∏—è –∏–∑ —Ç–µ–∫—Å—Ç–∞
def remove_punctuation(text):
    return re.sub(r'[^\w\s]', '', text)

# –£–¥–∞–ª–µ–Ω–∏–µ –∑–Ω–∞–∫–æ–≤ –ø—Ä–µ–ø–∏–Ω–∞–Ω–∏—è –∏–∑ —Ç–µ–∫—Å—Ç–∞
df['text'] = df['text'].apply(remove_punctuation)

# –ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ —Ç–µ–∫—Å—Ç–∞ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
df['text'] = df['text'].str.lower()

In [20]:
df

                                                     text     label
Id
0                                    good and interesting  Positive
1       this class is very helpful to me currently im ...  Positive
2       likeprof and tas are helpful and the discussio...  Positive
3       easy to follow and includes a lot basic and im...  Positive
4       really nice teacheri could got the point eazli...  Positive
...                                                   ...       ...
106897  i wanted this course to focus specifically on ...  Negative
106898                information presented was too basic  Negative
106928  the course didnt feel as though it was aimed a...  Negative
106934  these were very short lectures without a lot o...  Negative
107010  for those interested in taking exams these que...  Negative

[10116 rows x 2 columns]

In [21]:
# –ó–∞–º–µ–Ω—è–µ–º –∑–Ω–∞—á–µ–Ω–∏—è —ç–º–æ—Ü–∏–π —Å–æ–≥–ª–∞—Å–Ω–æ –≤–∞—à–µ–º—É —É—Å–ª–æ–≤–∏—é
replacement_dict = {
    'Positive': 1,
    'Negative': 0
}

# –ü—Ä–∏–º–µ–Ω—è–µ–º –∑–∞–º–µ–Ω—É –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ 'Emotion'
df['label'] = df['label'].replace(replacement_dict)

In [22]:
df

                                                     text  label
Id
0                                    good and interesting      1
1       this class is very helpful to me currently im ...      1
2       likeprof and tas are helpful and the discussio...      1
3       easy to follow and includes a lot basic and im...      1
4       really nice teacheri could got the point eazli...      1
...                                                   ...    ...
106897  i wanted this course to focus specifically on ...      0
106898                information presented was too basic      0
106928  the course didnt feel as though it was aimed a...      0
106934  these were very short lectures without a lot o...      0
107010  for those interested in taking exams these que...      0

[10116 rows x 2 columns]

In [26]:
# –§—É–Ω–∫—Ü–∏—è –¥–ª—è –ø–µ—Ä–µ–≤–æ–¥–∞ —Ç–µ–∫—Å—Ç–∞
def translate_text(text):
    return argos_en_ru.translate(text)

# –ü—Ä–∏–º–µ–Ω–µ–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ –ø–µ—Ä–µ–≤–æ–¥–∞ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –ø–æ—Ç–æ–∫–æ–≤
with ThreadPoolExecutor() as executor:
    tqdm.pandas()
    df['text'] = list(tqdm(executor.map(translate_text, df['text']), total=len(df)))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 10116/10116 [2:22:53<00:00,  1.18it/s]

In [27]:
df.to_csv("MOOC_Reviews1_ru.csv", index=False)

In [28]:
df

                                                     text  label
Id
0                                    –•–æ—Ä–æ—à–∞—è –∏ –∏–Ω—Ç–µ—Ä–µ—Å–Ω–∞—è      1
1       –≠—Ç–æ—Ç –∫–ª–∞—Å—Å –æ—á–µ–Ω—å –ø–æ–ª–µ–∑–µ–Ω –¥–ª—è –º–µ–Ω—è –≤ –Ω–∞—Å—Ç–æ—è—â–µ–µ ...      1
2       likeprof –∏ tas –ø–æ–ª–µ–∑–Ω—ã, –∏ –¥–∏—Å–∫—É—Å—Å–∏—è —Å—Ä–µ–¥–∏ —Å—Ç—É–¥...      1
3       –ª–µ–≥–∫–æ —Å–ª–µ–¥–æ–≤–∞—Ç—å –∏ –≤–∫–ª—é—á–∞–µ—Ç –≤ —Å–µ–±—è –º–Ω–æ–≥–æ –æ—Å–Ω–æ–≤–Ω...      1
4       –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ —Ö–æ—Ä–æ—à–∏–π —É—á–∏—Ç–µ–ª—å –º–æ–≥ –±—ã –ø–æ–ª—É—á–∏—Ç—å ...      1
...                                                   ...    ...
106897  –Ø —Ö–æ—Ç–µ–ª, —á—Ç–æ–±—ã —ç—Ç–æ—Ç –∫—É—Ä—Å –±—ã–ª —Å–æ—Å—Ä–µ–¥–æ—Ç–æ—á–µ–Ω –∫–æ–Ω–∫...      0
106898           –ü—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è —Å–ª–∏—à–∫–æ–º –ø—Ä–æ—Å—Ç–∞      0
106928  –ö—É—Ä—Å –Ω–µ —á—É–≤—Å—Ç–≤–æ–≤–∞–ª, –∫–∞–∫ –±—É–¥—Ç–æ –æ–Ω –±—ã–ª –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω...      0
106934  –≠—Ç–æ –±—ã–ª–∏ –æ—á–µ–Ω—å –∫–æ—Ä–æ—Ç–∫–∏–µ –ª–µ–∫—Ü–∏–∏ –±–µ–∑ –±–æ–ª—å—à–æ–≥–æ –∫–æ...      0
107010  –î–ª—è —Ç–µ—Ö, –∫—Ç–æ –∑–∞–∏–Ω—Ç–µ—Ä–µ—Å–æ–≤–∞–Ω –≤ —Å–¥–∞—á–µ —ç–∫–∑–∞–º–µ–Ω–æ–≤, ...      0

[10116 rows x 2 columns]

In [37]:
path_to_datasets = "C:/Users/NightMare/Desktop/neurofeed_back/harvard_reviews.csv"

In [38]:
# –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ –º–µ—Ç–æ–¥ read_csv() –∏–∑ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ Pandas –¥–ª—è —á—Ç–µ–Ω–∏—è CSV —Ñ–∞–π–ª–∞
df = pd.read_csv(path_to_datasets, index_col=0)

In [39]:
df

,published_platform,rating,type,helpful_votes,title,text
published_date,,,,,,
2023-12-28T08:02:14-05:00,Mobile,5,review,0,Best classes and good environment,Good thanks for everything good work group üëç h...
2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...
2023-12-10T08:21:35-05:00,Mobile,3,review,0,Walk around campus,We did a walk around most of the Harvard Campu...
2023-11-07T21:20:21-05:00,Desktop,4,review,0,Interesting Harvard University,We had a walk through the university grounds w...
2023-10-02T17:40:42-04:00,Desktop,5,review,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...
...,...,...,...,...,...,...
2010-10-29T05:47:57-04:00,Desktop,3,review,0,amerikanischer campus fuer touristen,wenn man in boston ist hat manmeistens zeit au...
2010-08-23T06:08:51-04:00,Desktop,3,review,0,Weniger als erwartet,Von der F√ºhrung der Harvard University erhofft...
2010-08-23T00:06:41-04:00,Desktop,5,review,0,bellissima universit√†,"da vedere questa citt√†, studio sede di una del..."
2010-06-03T07:37:36-04:00,Desktop,5,review,2,"Tolle Universit√§t, definitiv einen Abstecher wert","Hallo,\nich habe ein Jahr an der Harvard Law S..."
2009-09-27T16:39:18-04:00,Desktop,5,review,1,‰∏ÄÂ∫¶„ÅØË°å„Åè„Åπ„Åç,„Å®„Å¶„ÇÇÊ≠¥Âè≤„ÅÆ„ÅÇ„ÇãÁ¥†Êïµ„Å™Âª∫Áâ©„Åß„Åô„ÄÇ„Éè„Éº„Éê„Éº„Éâ„Çπ„ÇØ„Ç®„Ç¢„Éº„ÅÆÈßÖ„ÅÆËøë„Åè„Åã„ÇâÁÑ°Êñô„ÅÆ„ÉÑ„Ç¢„ÉºÔºàËã±Ë™ûÔºâ„Çí„Éè„Éº...

In [41]:
import re

# –§—É–Ω–∫—Ü–∏—è –¥–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è —è–∑—ã–∫–∞ —Ç–µ–∫—Å—Ç–∞
def detect_language(text):
    # –ü–∞—Ç—Ç–µ—Ä–Ω –¥–ª—è –ø–æ–∏—Å–∫–∞ —Å–∏–º–≤–æ–ª–æ–≤ –Ω–µ –∏–∑ –∞–Ω–≥–ª–∏–π—Å–∫–æ–≥–æ –∞–ª—Ñ–∞–≤–∏—Ç–∞
    pattern = re.compile(r'[^\x00-\x7F]+')
    if pattern.search(text):
        return False # –ï—Å–ª–∏ –Ω–∞–π–¥–µ–Ω—ã —Å–∏–º–≤–æ–ª—ã –¥—Ä—É–≥–∏—Ö —è–∑—ã–∫–æ–≤, –≤–æ–∑–≤—Ä–∞—â–∞–µ–º False
    else:
        return True # –ï—Å–ª–∏ —Ç–æ–ª—å–∫–æ –∞–Ω–≥–ª–∏–π—Å–∫–∏–µ —Å–∏–º–≤–æ–ª—ã, –≤–æ–∑–≤—Ä–∞—â–∞–µ–º True

# –ü—Ä–∏–º–µ–Ω–µ–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ detect_language –∫ —Å—Ç–æ–ª–±—Ü–∞–º 'title' –∏ 'text' –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è —Å—Ç—Ä–æ–∫ —Å —Ç–µ–∫—Å—Ç–æ–º –Ω–∞ –¥—Ä—É–≥–∏—Ö —è–∑—ã–∫–∞—Ö
df = df[df['title'].apply(detect_language)]
df = df[df['text'].apply(detect_language)]

In [42]:
df

,published_platform,rating,type,helpful_votes,title,text
published_date,,,,,,
2023-12-12T00:38:26-05:00,Desktop,4,review,0,Harvard University,Harvard University was founded in 1636 and is ...
2023-12-10T08:21:35-05:00,Mobile,3,review,0,Walk around campus,We did a walk around most of the Harvard Campu...
2023-11-07T21:20:21-05:00,Desktop,4,review,0,Interesting Harvard University,We had a walk through the university grounds w...
2023-10-02T17:40:42-04:00,Desktop,5,review,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...
2023-09-29T08:44:17-04:00,Desktop,4,review,0,Interesting walk around campus grounds & river,Very interesting to wander around the grounds ...
...,...,...,...,...,...,...
2012-08-20T19:07:16-04:00,Desktop,4,review,0,Molto suggestiva,"Anche qui, come al mit, vale la pena andarci p..."
2012-03-26T07:36:54-04:00,Desktop,5,review,1,Como en las peliculas,Excelente para una buena caminata. Se reviven ...
2012-02-14T19:06:35-05:00,Desktop,4,review,0,Tradicion y Elegancia,Paseo por las elegantes instalaciones de la pr...
2011-08-12T18:16:15-04:00,Desktop,5,review,1,Merece la pena un paseo,Agradable y precioso. Merece la pena un paseo ...
2010-10-29T05:47:57-04:00,Desktop,3,review,0,amerikanischer campus fuer touristen,wenn man in boston ist hat manmeistens zeit au...

In [43]:
# –ó–∞–º–µ–Ω–∞ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ "rating" –≤ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–∏ —Å —É—Å–ª–æ–≤–∏—è–º–∏
df['rating'] = df['rating'].apply(lambda x: 1 if x == 5 else 0)

In [44]:
df

,published_platform,rating,type,helpful_votes,title,text
published_date,,,,,,
2023-12-12T00:38:26-05:00,Desktop,0,review,0,Harvard University,Harvard University was founded in 1636 and is ...
2023-12-10T08:21:35-05:00,Mobile,0,review,0,Walk around campus,We did a walk around most of the Harvard Campu...
2023-11-07T21:20:21-05:00,Desktop,0,review,0,Interesting Harvard University,We had a walk through the university grounds w...
2023-10-02T17:40:42-04:00,Desktop,1,review,0,Lovely university campus has many historic and...,Finally made it to Harvard!! This iconic univ...
2023-09-29T08:44:17-04:00,Desktop,0,review,0,Interesting walk around campus grounds & river,Very interesting to wander around the grounds ...
...,...,...,...,...,...,...
2012-08-20T19:07:16-04:00,Desktop,0,review,0,Molto suggestiva,"Anche qui, come al mit, vale la pena andarci p..."
2012-03-26T07:36:54-04:00,Desktop,1,review,1,Como en las peliculas,Excelente para una buena caminata. Se reviven ...
2012-02-14T19:06:35-05:00,Desktop,0,review,0,Tradicion y Elegancia,Paseo por las elegantes instalaciones de la pr...
2011-08-12T18:16:15-04:00,Desktop,1,review,1,Merece la pena un paseo,Agradable y precioso. Merece la pena un paseo ...
2010-10-29T05:47:57-04:00,Desktop,0,review,0,amerikanischer campus fuer touristen,wenn man in boston ist hat manmeistens zeit au...

In [45]:
import re

# –§—É–Ω–∫—Ü–∏—è –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è –∑–Ω–∞–∫–æ–≤ –ø—Ä–µ–ø–∏–Ω–∞–Ω–∏—è –∏–∑ —Ç–µ–∫—Å—Ç–∞
def remove_punctuation(text):
    return re.sub(r'[^\w\s]', '', text)

# –£–¥–∞–ª–µ–Ω–∏–µ –∑–Ω–∞–∫–æ–≤ –ø—Ä–µ–ø–∏–Ω–∞–Ω–∏—è –∏–∑ —Ç–µ–∫—Å—Ç–∞
df['text'] = df['text'].apply(remove_punctuation)

# –ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ —Ç–µ–∫—Å—Ç–∞ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
df['text'] = df['text'].str.lower()

In [46]:
df

,published_platform,rating,type,helpful_votes,title,text
published_date,,,,,,
2023-12-12T00:38:26-05:00,Desktop,0,review,0,Harvard University,harvard university was founded in 1636 and is ...
2023-12-10T08:21:35-05:00,Mobile,0,review,0,Walk around campus,we did a walk around most of the harvard campu...
2023-11-07T21:20:21-05:00,Desktop,0,review,0,Interesting Harvard University,we had a walk through the university grounds w...
2023-10-02T17:40:42-04:00,Desktop,1,review,0,Lovely university campus has many historic and...,finally made it to harvard this iconic univer...
2023-09-29T08:44:17-04:00,Desktop,0,review,0,Interesting walk around campus grounds & river,very interesting to wander around the grounds ...
...,...,...,...,...,...,...
2012-08-20T19:07:16-04:00,Desktop,0,review,0,Molto suggestiva,anche qui come al mit vale la pena andarci per...
2012-03-26T07:36:54-04:00,Desktop,1,review,1,Como en las peliculas,excelente para una buena caminata se reviven e...
2012-02-14T19:06:35-05:00,Desktop,0,review,0,Tradicion y Elegancia,paseo por las elegantes instalaciones de la pr...
2011-08-12T18:16:15-04:00,Desktop,1,review,1,Merece la pena un paseo,agradable y precioso merece la pena un paseo p...
2010-10-29T05:47:57-04:00,Desktop,0,review,0,amerikanischer campus fuer touristen,wenn man in boston ist hat manmeistens zeit au...

In [47]:
# –£–¥–∞–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü 'Numbers'
df = df.drop(['published_platform', 'type', 'helpful_votes', 'title'], axis=1)

In [48]:
df

,rating,text
published_date,,
2023-12-12T00:38:26-05:00,0,harvard university was founded in 1636 and is ...
2023-12-10T08:21:35-05:00,0,we did a walk around most of the harvard campu...
2023-11-07T21:20:21-05:00,0,we had a walk through the university grounds w...
2023-10-02T17:40:42-04:00,1,finally made it to harvard this iconic univer...
2023-09-29T08:44:17-04:00,0,very interesting to wander around the grounds ...
...,...,...
2012-08-20T19:07:16-04:00,0,anche qui come al mit vale la pena andarci per...
2012-03-26T07:36:54-04:00,1,excelente para una buena caminata se reviven e...
2012-02-14T19:06:35-05:00,0,paseo por las elegantes instalaciones de la pr...
2011-08-12T18:16:15-04:00,1,agradable y precioso merece la pena un paseo p...
2010-10-29T05:47:57-04:00,0,wenn man in boston ist hat manmeistens zeit au...

In [49]:
# –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ "labels" –≤ "label"
df.rename(columns={"rating": "label"}, inplace=True)

In [50]:
df

,label,text
published_date,,
2023-12-12T00:38:26-05:00,0,harvard university was founded in 1636 and is ...
2023-12-10T08:21:35-05:00,0,we did a walk around most of the harvard campu...
2023-11-07T21:20:21-05:00,0,we had a walk through the university grounds w...
2023-10-02T17:40:42-04:00,1,finally made it to harvard this iconic univer...
2023-09-29T08:44:17-04:00,0,very interesting to wander around the grounds ...
...,...,...
2012-08-20T19:07:16-04:00,0,anche qui come al mit vale la pena andarci per...
2012-03-26T07:36:54-04:00,1,excelente para una buena caminata se reviven e...
2012-02-14T19:06:35-05:00,0,paseo por las elegantes instalaciones de la pr...
2011-08-12T18:16:15-04:00,1,agradable y precioso merece la pena un paseo p...
2010-10-29T05:47:57-04:00,0,wenn man in boston ist hat manmeistens zeit au...

In [51]:
# –°–±—Ä–æ—Å –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–∏
df.reset_index(drop=True, inplace=True)

# –ü–µ—Ä–µ–º–µ—â–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ "label" –ø—Ä–∞–≤–µ–µ —Å—Ç–æ–ª–±—Ü–∞ "text"
df = df[['text', 'label']]

In [52]:
df

                                                   text  label
0     harvard university was founded in 1636 and is ...      0
1     we did a walk around most of the harvard campu...      0
2     we had a walk through the university grounds w...      0
3     finally made it to harvard  this iconic univer...      1
4     very interesting to wander around the grounds ...      0
...                                                 ...    ...
1952  anche qui come al mit vale la pena andarci per...      0
1953  excelente para una buena caminata se reviven e...      1
1954  paseo por las elegantes instalaciones de la pr...      0
1955  agradable y precioso merece la pena un paseo p...      1
1956  wenn man in boston ist hat manmeistens zeit au...      0

[1957 rows x 2 columns]

In [53]:
# –§—É–Ω–∫—Ü–∏—è –¥–ª—è –ø–µ—Ä–µ–≤–æ–¥–∞ —Ç–µ–∫—Å—Ç–∞
def translate_text(text):
    return argos_en_ru.translate(text)

# –ü—Ä–∏–º–µ–Ω–µ–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ –ø–µ—Ä–µ–≤–æ–¥–∞ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –ø–æ—Ç–æ–∫–æ–≤
with ThreadPoolExecutor() as executor:
    tqdm.pandas()
    df['text'] = list(tqdm(executor.map(translate_text, df['text']), total=len(df)))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1957/1957 [41:18<00:00,  1.27s/it]

In [55]:
df

                                                   text  label
0     –ì–∞—Ä–≤–∞—Ä–¥—Å–∫–∏–π —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç –±—ã–ª –æ—Å–Ω–æ–≤–∞–Ω –≤ 1636 –≥–æ–¥...      0
1     –ú—ã –ø—Ä–æ–≥—É–ª—è–ª–∏—Å—å –ø–æ –±–æ–ª—å—à–µ–π —á–∞—Å—Ç–∏ –∫–∞–º–ø—É—Å–∞ –ì–∞—Ä–≤–∞—Ä...      0
2     –£ –Ω–∞—Å –±—ã–ª–∞ –ø—Ä–æ–≥—É–ª–∫–∞ –ø–æ —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç—Å–∫–æ–π —Ç–µ—Ä—Ä–∏—Ç–æ...      0
3     –ù–∞–∫–æ–Ω–µ—Ü, —Å–¥–µ–ª–∞–ª–∏ —ç—Ç–æ –≤ –ì–∞—Ä–≤–∞—Ä–¥–µ —ç—Ç–æ—Ç –∑–Ω–∞–∫–æ–≤—ã–π ...      1
4     –û—á–µ–Ω—å –∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ –ø–æ–±—Ä–æ–¥–∏—Ç—å –ø–æ —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏–∏ –∫–∞–º–ø—É—Å...      0
...                                                 ...    ...
1952  ache qui come al mit vale la pena andarci per ...      0
1953  excelente para una buena caminata se reviven e...      1
1954  paseo por las elegantes instalaciones de la pr...      0
1955  agradable y precioso merece la pena un paseo p...      1
1956  Wenn man in boston ist hat manmeistens zeit au...      0

[1957 rows x 2 columns]

In [56]:
import re

# –§—É–Ω–∫—Ü–∏—è –¥–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è —è–∑—ã–∫–∞ —Ç–µ–∫—Å—Ç–∞
def detect_russian(text):
    # –ü–∞—Ç—Ç–µ—Ä–Ω –¥–ª—è –ø–æ–∏—Å–∫–∞ —Ä—É—Å—Å–∫–∏—Ö –±—É–∫–≤
    pattern = re.compile(r'[–∞-—è–ê-–Ø—ë–Å]+')
    if pattern.search(text):
        return True # –ï—Å–ª–∏ –Ω–∞–π–¥–µ–Ω—ã —Ä—É—Å—Å–∫–∏–µ –±—É–∫–≤—ã, –≤–æ–∑–≤—Ä–∞—â–∞–µ–º True
    else:
        return False # –ï—Å–ª–∏ —Ç–æ–ª—å–∫–æ –¥—Ä—É–≥–∏–µ —Å–∏–º–≤–æ–ª—ã, –≤–æ–∑–≤—Ä–∞—â–∞–µ–º False

# –ü—Ä–∏–º–µ–Ω–µ–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ detect_russian –∫ —Å—Ç–æ–ª–±—Ü—É 'text' –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è —Å—Ç—Ä–æ–∫ —Å —Ç–µ–∫—Å—Ç–æ–º –Ω–∞ –¥—Ä—É–≥–∏—Ö —è–∑—ã–∫–∞—Ö
df = df[df['text'].apply(detect_russian)]

# –°–±—Ä–æ—Å –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–∏
df.reset_index(drop=True, inplace=True)

In [57]:
df

                                                   text  label
0     –ì–∞—Ä–≤–∞—Ä–¥—Å–∫–∏–π —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç –±—ã–ª –æ—Å–Ω–æ–≤–∞–Ω –≤ 1636 –≥–æ–¥...      0
1     –ú—ã –ø—Ä–æ–≥—É–ª—è–ª–∏—Å—å –ø–æ –±–æ–ª—å—à–µ–π —á–∞—Å—Ç–∏ –∫–∞–º–ø—É—Å–∞ –ì–∞—Ä–≤–∞—Ä...      0
2     –£ –Ω–∞—Å –±—ã–ª–∞ –ø—Ä–æ–≥—É–ª–∫–∞ –ø–æ —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç—Å–∫–æ–π —Ç–µ—Ä—Ä–∏—Ç–æ...      0
3     –ù–∞–∫–æ–Ω–µ—Ü, —Å–¥–µ–ª–∞–ª–∏ —ç—Ç–æ –≤ –ì–∞—Ä–≤–∞—Ä–¥–µ —ç—Ç–æ—Ç –∑–Ω–∞–∫–æ–≤—ã–π ...      1
4     –û—á–µ–Ω—å –∏–Ω—Ç–µ—Ä–µ—Å–Ω–æ –ø–æ–±—Ä–æ–¥–∏—Ç—å –ø–æ —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏–∏ –∫–∞–º–ø—É—Å...      0
...                                                 ...    ...
1819  LOPEND Over Het Groene gras van de Fantastisch...      1
1820  –£–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç—Å–∫–∏–π –≥–æ—Ä–æ–¥–æ–∫ –ú—É–∏ —É–º–∏—Ä–∞–µ—Ç, op het ha...      1
1821  piacevole ed interessante se prestate attenzio...      0
1822  –ò—Å–ø–æ–ª–Ω–∏—Ç–µ–ª—å: Suas Folhas Caindo Muito Legal\ne...      1
1823  –ò–Ω—Ç–µ—Ä—å–µ—Ä –∫–∞–º–ø—É—Å–∞ Allinterno del Campus Ricorda...      1

[1824 rows x 2 columns]

In [58]:
df.to_csv("harvard_reviews_ru.csv", index=False)

In [80]:
path_to_datasets = "C:/Users/NightMare/Desktop/neurofeed_back/course_data_clean.csv"

In [81]:
# –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ –º–µ—Ç–æ–¥ read_csv() –∏–∑ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ Pandas –¥–ª—è —á—Ç–µ–Ω–∏—è CSV —Ñ–∞–π–ª–∞
df = pd.read_csv(path_to_datasets, index_col=0)

In [82]:
df

,course_title,num_ratings,useful,easy,liked,num_reviews,reviews,course_rating,course_rating_int
course_code,,,,,,,,,
CS 115,Introduction to Computer Science 1,2111,21%,10%,23%,86,go to office hours and practice,liked course,1.0
CS 115,Introduction to Computer Science 1,2111,21%,10%,23%,86,One of my least favourite courses. Although th...,disliked course,0.0
CS 115,Introduction to Computer Science 1,2111,21%,10%,23%,86,It starts with a very low pace but after midte...,disliked course,0.0
CS 115,Introduction to Computer Science 1,2111,21%,10%,23%,86,Took this in 2018 with no programming experien...,liked course,1.0
CS 115,Introduction to Computer Science 1,2111,21%,10%,23%,86,I loved everything about cs 115. Great instruc...,liked course,1.0
...,...,...,...,...,...,...,...,...,...
ASL 102R,American Sign Language 2,1,100%,75%,100%,1,Took this online with Georgia Whalen. As it wa...,liked course,1.0
CS 136L,Tools and Techniques for Software Development,1,100%,100%,100%,1,I either designed or helped design the majorit...,liked course,1.0
AFM 417,Special Topics in Accounting,0,NaN,NaN,NaN,1,Topic 3: Intro to Data Analytics,NaN,NaN
ECON 472,Senior Honours Essay,0,100%,0%,NaN,1,Not sure if I liked this course yet. Definitel...,NaN,NaN
PMATH 440,Analytic Number Theory,0,0%,0%,NaN,1,This course was not as interesting as I hoped ...,NaN,NaN

In [83]:
# –°–±—Ä–æ—Å –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–∏
df.reset_index(drop=True, inplace=True)

In [84]:
df

,course_title,num_ratings,useful,easy,liked,num_reviews,reviews,course_rating,course_rating_int
0,Introduction to Computer Science 1,2111,21%,10%,23%,86,go to office hours and practice,liked course,1.0
1,Introduction to Computer Science 1,2111,21%,10%,23%,86,One of my least favourite courses. Although th...,disliked course,0.0
2,Introduction to Computer Science 1,2111,21%,10%,23%,86,It starts with a very low pace but after midte...,disliked course,0.0
3,Introduction to Computer Science 1,2111,21%,10%,23%,86,Took this in 2018 with no programming experien...,liked course,1.0
4,Introduction to Computer Science 1,2111,21%,10%,23%,86,I loved everything about cs 115. Great instruc...,liked course,1.0
...,...,...,...,...,...,...,...,...,...
14833,American Sign Language 2,1,100%,75%,100%,1,Took this online with Georgia Whalen. As it wa...,liked course,1.0
14834,Tools and Techniques for Software Development,1,100%,100%,100%,1,I either designed or helped design the majorit...,liked course,1.0
14835,Special Topics in Accounting,0,NaN,NaN,NaN,1,Topic 3: Intro to Data Analytics,NaN,NaN
14836,Senior Honours Essay,0,100%,0%,NaN,1,Not sure if I liked this course yet. Definitel...,NaN,NaN
14837,Analytic Number Theory,0,0%,0%,NaN,1,This course was not as interesting as I hoped ...,NaN,NaN

In [85]:
# –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ "labels" –≤ "label"
df.rename(columns={"reviews": "text"}, inplace=True)
# –£–¥–∞–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü 'Numbers'
df = df.drop(['course_title', 'num_ratings', 'useful', 'easy', 'liked', 'num_reviews', 'course_rating'], axis=1)

In [86]:
df

                                                    text  course_rating_int
0                        go to office hours and practice                1.0
1      One of my least favourite courses. Although th...                0.0
2      It starts with a very low pace but after midte...                0.0
3      Took this in 2018 with no programming experien...                1.0
4      I loved everything about cs 115. Great instruc...                1.0
...                                                  ...                ...
14833  Took this online with Georgia Whalen. As it wa...                1.0
14834  I either designed or helped design the majorit...                1.0
14835                   Topic 3: Intro to Data Analytics                NaN
14836  Not sure if I liked this course yet. Definitel...                NaN
14837  This course was not as interesting as I hoped ...                NaN

[14838 rows x 2 columns]

In [87]:
# –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ "labels" –≤ "label"
df.rename(columns={"course_rating_int": "label"}, inplace=True)

In [88]:
df

                                                    text  label
0                        go to office hours and practice    1.0
1      One of my least favourite courses. Although th...    0.0
2      It starts with a very low pace but after midte...    0.0
3      Took this in 2018 with no programming experien...    1.0
4      I loved everything about cs 115. Great instruc...    1.0
...                                                  ...    ...
14833  Took this online with Georgia Whalen. As it wa...    1.0
14834  I either designed or helped design the majorit...    1.0
14835                   Topic 3: Intro to Data Analytics    NaN
14836  Not sure if I liked this course yet. Definitel...    NaN
14837  This course was not as interesting as I hoped ...    NaN

[14838 rows x 2 columns]

In [89]:
# –£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ (NaN) –≤ —Å—Ç–æ–ª–±—Ü–µ "label"
df = df.dropna(subset=['label'])

# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏–π —Å—Ç–æ–ª–±—Ü–∞ "label" –∏–∑ float –≤ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π —Ñ–æ—Ä–º–∞—Ç
df['label'] = df['label'].astype(int)

C:\Temp\ipykernel_13952\2794349432.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['label'] = df['label'].astype(int)

In [90]:
df

                                                    text  label
0                        go to office hours and practice      1
1      One of my least favourite courses. Although th...      0
2      It starts with a very low pace but after midte...      0
3      Took this in 2018 with no programming experien...      1
4      I loved everything about cs 115. Great instruc...      1
...                                                  ...    ...
14830  This is a really wonderful course! Dr. Fraser ...      1
14831  While this course ended up being relatively in...      1
14832  Personally did not find Computational Biomecha...      0
14833  Took this online with Georgia Whalen. As it wa...      1
14834  I either designed or helped design the majorit...      1

[14616 rows x 2 columns]

In [91]:
import re

# –§—É–Ω–∫—Ü–∏—è –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è –∑–Ω–∞–∫–æ–≤ –ø—Ä–µ–ø–∏–Ω–∞–Ω–∏—è –∏–∑ —Ç–µ–∫—Å—Ç–∞
def remove_punctuation(text):
    if isinstance(text, str):
        return re.sub(r'[^\w\s]', '', text)
    else:
        return None

# –£–¥–∞–ª–µ–Ω–∏–µ –∑–Ω–∞–∫–æ–≤ –ø—Ä–µ–ø–∏–Ω–∞–Ω–∏—è –∏–∑ —Ç–µ–∫—Å—Ç–∞
df['text'] = df['text'].apply(remove_punctuation)

# –£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ "text"
df = df.dropna(subset=['text'])

# –ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ —Ç–µ–∫—Å—Ç–∞ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É
df['text'] = df['text'].str.lower()

C:\Temp\ipykernel_13952\3538449472.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].apply(remove_punctuation)
C:\Temp\ipykernel_13952\3538449472.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].str.lower()

In [92]:
df

                                                    text  label
0                        go to office hours and practice      1
1      one of my least favourite courses although thi...      0
2      it starts with a very low pace but after midte...      0
3      took this in 2018 with no programming experien...      1
4      i loved everything about cs 115 great instruct...      1
...                                                  ...    ...
14830  this is a really wonderful course dr fraser ea...      1
14831  while this course ended up being relatively in...      1
14832  personally did not find computational biomecha...      0
14833  took this online with georgia whalen as it was...      1
14834  i either designed or helped design the majorit...      1

[14608 rows x 2 columns]

In [93]:
# –§—É–Ω–∫—Ü–∏—è –¥–ª—è –ø–µ—Ä–µ–≤–æ–¥–∞ —Ç–µ–∫—Å—Ç–∞
def translate_text(text):
    return argos_en_ru.translate(text)

# –ü—Ä–∏–º–µ–Ω–µ–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ –ø–µ—Ä–µ–≤–æ–¥–∞ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –ø–æ—Ç–æ–∫–æ–≤
with ThreadPoolExecutor() as executor:
    tqdm.pandas()
    df['text'] = list(tqdm(executor.map(translate_text, df['text']), total=len(df)))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 14608/14608 [3:52:28<00:00,  1.05it/s]
C:\Temp\ipykernel_13952\4076156546.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = list(tqdm(executor.map(translate_text, df['text']), total=len(df)))

In [94]:
df.to_csv("course_data_clean_ru.csv", index=False)

In [95]:
df

                                                    text  label
0                         —Ö–æ–¥–∏—Ç—å –≤ –æ—Ñ–∏—Å –∏ –ø—Ä–∞–∫—Ç–∏–∫–æ–≤–∞—Ç—å—Å—è      1
1      –û–¥–∏–Ω –∏–∑ –º–æ–∏—Ö –Ω–∞–∏–º–µ–Ω–µ–µ –ª—é–±–∏–º—ã—Ö –∫—É—Ä—Å–æ–≤, —Ö–æ—Ç—è –≤—Å–µ...      0
2      –û–Ω –Ω–∞—á–∏–Ω–∞–µ—Ç—Å—è —Å –æ—á–µ–Ω—å –Ω–∏–∑–∫–æ–≥–æ —Ç–µ–º–ø–∞, –Ω–æ –ø–æ—Å–ª–µ ...      0
3      –Ø –≤–∑—è–ª —ç—Ç–æ –≤ 2018 –≥–æ–¥—É –±–µ–∑ –æ–ø—ã—Ç–∞ –ø—Ä–æ–≥—Ä–∞–º–º–∏—Ä–æ–≤–∞...      1
4      –Ø –ª—é–±–∏–ª –≤—Å–µ –æ cs 115 –≤–µ–ª–∏–∫–∏—Ö –∏–Ω—Å—Ç—Ä—É–∫—Ç–æ—Ä–æ–≤ —á–µ—Å—Ç...      1
...                                                  ...    ...
14830  –≠—Ç–æ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –∑–∞–º–µ—á–∞—Ç–µ–ª—å–Ω—ã–π –∫—É—Ä—Å, –¥–æ–∫—Ç–æ—Ä –§...      1
14831  –•–æ—Ç—è —ç—Ç–æ—Ç –∫—É—Ä—Å –æ–∫–∞–∑–∞–ª—Å—è –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã...      1
14832  –õ–∏—á–Ω–æ –Ω–µ –Ω–∞—à–µ–ª –≤—ã—á–∏—Å–ª–∏—Ç–µ–ª—å–Ω—É—é –±–∏–æ–º–µ—Ö–∞–Ω–∏–∫—É –ø–æ–ª–µ...      0
14833  –≤–∑—è–ª —ç—Ç–æ –æ–Ω–ª–∞–π–Ω —Å –î–∂–æ—Ä–¥–∂–∏–µ–π –∫–∏—Ç–æ–≤–æ–π, –∫–∞–∫ —ç—Ç–æ –±...      1
14834  –Ø –ª–∏–±–æ —Å–ø—Ä–æ–µ–∫—Ç–∏—Ä–æ–≤–∞–ª, –ª–∏–±–æ –ø–æ–º–æ–≥ —Å–ø—Ä–æ–µ–∫—Ç–∏—Ä–æ–≤–∞—Ç...      1

[14608 rows x 2 columns]